<%- include('../layouts/adminHeader.ejs') %>

<title>Add New Category</title>

<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded p-4">
                <div class="text-center mb-4">
                    <h1 class="display-4" style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Add New Category</h1>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <form action="" method="post">
                        <label for="name" class="mr-2">Category Name:</label>
                        <select name="name" id="name" required class="form-control mb-3">
                            <option value="">Select</option>
                            <option value="Sneakers">Sneakers</option>
                            <option value="Watches">Watches</option>
                        </select>

                        <label for="SubCategory" class="mr-2">Sub-Category Name:</label>
                        <select name="SubCategory" id="SubCategory" required class="form-control mb-3">
                            <option value="">Select</option>
                            <option value="Sneakers">Sneakers</option>
                            <option value="Basketball">Basketball</option>
                            <option value="Classics">Classics</option>
                            <option value="Slides">Slides</option>
                            <option value="Automatic Watches">Automatic Watches</option>
                            <option value="Mechanical Watches">Mechanical Watches</option>
                            <option value="Quartz Watches">Quartz Watches</option>
                            <option value="Solar Watches">Solar Watches</option>
                        </select>

                        <label for="description" class="mr-2">Description:</label>
                        <textarea name="description" id="description" cols="30" rows="5" class="form-control mb-3"></textarea>

                        <input type="submit" value="Add Category" class="btn btn-success">
                    </form>
                </div>

                <!-- Uncomment the code below if you want to display a message -->
                <!-- <% if(typeof message !== 'undefined') { %>
                <p class="text-danger text-center"><%= message %></p>
                <% } %> -->
            </div>
        </div>
    </div>
</main>

<script src="/js/alertPopUp.js"></script>
