<%- include('../layouts/header.ejs')%>

<!-- <style>
    .img-link {
        position: relative;
        display: block;
        border: 1px solid #ddd;
        margin: 5px;
        max-width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .img-link img {
        max-height: 100%;
        width: auto;
    }

    .overlay {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        text-align: right;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;
    }
</style>

<h3 style="text-align: center; padding-top: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    Shop By Category
</h3>

<section class="py-0" id="header" style="margin-top: 3rem !important;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6">
                <a href="/home/products/watches" class="img-link">
                    <img class="img-fluid" src="/images/user_img/watch6.png" alt="Shop Watches" />
                    <div class="overlay">Shop Watches</div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/home/products/sneakers" class="img-link">
                    <img class="img-fluid" src="/images/user_img/sneaker2.png" alt="Shop Sneakers" />
                    <div class="overlay">Shop Sneakers</div>
                </a>
            </div>
        </div>
    </div>
</section> -->


<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="/home/products/watches">
						<img src="/images/user_img/watch2.jpg" alt="" />
						<div class="content">
							<h3>Shop Watches</h3>
							<p>Shop New Watches</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="/home/products/sneakers">
						<img src="/images/user_img/sneaker5.jpg" alt="" />
						<div class="content">
							<h3>Shop Sneakers</h3>
							<p>Get Wide Range Sneakers</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!">
						<img src="/images/user_img/sneaker6.jpg" alt="" />
						<div class="content">
							<h3>Recommended For You</h3>
							<p>Special Design Comes First</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../layouts/footer.ejs')%>
