<%- include('../layouts/header.ejs')%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChronoSneaks</title>
</head>
<body>
    <h1>Welcome to ChronoSneaks, <%= user.name %></h1>
    <button type="button" class="btn btn-dark"><a href="/logout">Logout</a></button>
    <button type="button" class="btn btn-dark"><a href="/edit?id=<%= user._id %>">Edit</a></button>
    
</body>
</html>

<%- include('../layouts/footer.ejs')%>