<%- include('../layouts/header.ejs') %>

<section class="forget-password-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="index.html">
              <!-- <img src="/images/user_img/logo1.png" alt="" height="50px" width="175px"> -->
            </a>
            <h2 class="text-center">Change Password?</h2>

            <form class="text-left clearfix" action="/edit/update-password" method="post">
              <div class="form-group">
                <input type="password" class="form-control" name="oldPassword" placeholder="Enter your old Password" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="newPassword" placeholder="Enter the new Password" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-main text-center" name="">Change Password</button>
              </div>
            </form>
            <div class="form-group">
                <% if(typeof message !=='undefined' ){ %>
                    <h5 style="color: crimson;">
                        <%= message %>
                    </h5>
                    <% } %>
            </div>
            <p class="mt-20"><a href="/home">Back to Home</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('../layouts/footer.ejs') %>